@model SandMax1.Models.tblSearch_HMS03_Team7

@{
    ViewBag.Title = "Create";
  

}
<head>
    <style>
        input:invalid {
            border: 2px dashed red;
            
        }

      
        select:invalid{
            border:2px dashed red;
        }

       

    </style>
</head>
<body ng-app="passapp">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="form-horizontal">


           

            <h2>Search</h2>

            <br />
            <form action="/action_page.php" class="form-signin">
                <div class="jumbotron content">

                    <div class="row">

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Source, htmlAttributes: new { @class = "" })
                            <br />
                            <div class="col-md-10">
                                <select name="source" class="form-control" required>
                                    <option value="" disabled selected hidden>Source</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Mumbai">Mumbai</option>
                                    <option value="Delhi">Delhi</option>
                                </select>


                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "" })
                            <div class="col-md-10">
                                <select name="destination" class="form-control" required>
                                    <option value="" disabled selected hidden>Destination</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Mumbai">Mumbai</option>
                                    <option value="Delhi">Delhi</option>
                                </select>
                                

                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Departure, htmlAttributes: new { @class = "" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Departure, new { htmlAttributes = new { @class = "form-control",required="required"} })
                                
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="col-md-10">

                          
                                <input type="radio" name="Class" value="Premium" checked> Premium
                                <input type="radio" name="Class" value="FirstClass">FirstClass
                                <input type="radio" name="Class" value="Economy"> Economy
                            


                        </div>
                        <br />
                        <br />
                        <br />

                        <div class="form-group" ng-controller="passenger">

                            <div class="col-md-10">
                                <input type="text" placeholder="Enter Number of Adult" id="noofadult" name="noofadult" ng-model="num1" ng-change="add(num1,num2)" class="form-control" required )" />

                            </div>
                            <br />
                            <br />
                            <br />
                            <br />

                            <div class="col-md-10">
                                <input type="text" id="noofchild" placeholder="Enter Number of Child" name="noofchild" ng-model="num2" ng-change="add(num1,num2)" class="form-control" required />
                            </div>
                            <br />
                            <br />
                            <br />







                            <div class="col-md-10">
                                <label class="control-label">Number of Passengers {{result}}</label>
                            </div>


                            <br />
                            <br />
                            <br />
                            <div>
                                <input type="submit" value="Get Set Go" class="btn btn-default" style="float:right" />
                            </div>







                        </div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>

                </div>
            </form>
        </div>




    }
</body>



<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<script src="~/Content/noofpassenger.js"></script>
<link href="~/Content/SearchPage.css" rel="stylesheet" />
<link href="~/Content/SearchStyle.css" rel="stylesheet" />


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
