@model SandMax1.Models.tblSchedule_HMS03_Team7

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SchedulerLayout.cshtml";
}

<h2>Details</h2>

<div>
    @*<h4>tblSchedule_HMS03_Team7</h4>*@
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.tblAeroplane_HMS03_Team7.AirplaneSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAeroplane_HMS03_Team7.AirplaneSeries)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fare_Premium_Adult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fare_Premium_Adult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fare_Economy_Adult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fare_Economy_Adult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fare_Firstclass_Adult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fare_Firstclass_Adult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fare_Premium_Child)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fare_Premium_Child)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fare_Firstclass_Child)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fare_Firstclass_Child)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fare_Economy_Child)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fare_Economy_Child)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability_Premium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_Premium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability_Firstclass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_Firstclass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability_Economy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_Economy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusofFlight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusofFlight)
        </dd>



    </dl>
</div>
<link rel="stylesheet" href="~/Content/StyleSheet3.css" />
<p>
 
    @Html.ActionLink("Back to View Scheduler", "VeiwScheduleToScheduler")
</p>
