@model SandMax1.Models.tblPayment_HMS03_Team7

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Payment Details</h2>
<link rel="stylesheet" href="~/Content/style.css" />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
         
        @Html.Label("Amount to be Paid", "Amount to be Paid", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })*@
            @(Session["TotalFare"].ToString())
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CardType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="radio" name="CardType" value="Master" />Master
            <input type="radio" name="CardType" value="Visa" />Visa
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CVV, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CVV, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.CVV, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pay" class="btn btn-default" />
        </div>
    </div>
</div>
}
    <a href="/tblSearch_HMS03_Team7/Create">Replan</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
