@model SandMax1.Models.tblPayment_HMS03_Team7

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblPayment_HMS03_Team7</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCustomer_HMS03_Team7.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCustomer_HMS03_Team7.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblJourney_HMS03_Team7.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblJourney_HMS03_Team7.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblSchedule_HMS03_Team7.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblSchedule_HMS03_Team7.Source)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
